{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lafg_site/css/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'lafg_site/css/site.css' %}" />
    <link rel="icon" href="{% static 'lafg_site/Images/USFG_Logo.png' %}"/>
    <style>
        body {
            font-family: "Times New Roman", Times, serif;
        }

        /* #background {
            background-image: url("{% static 'lafg_site/Images/skyline.jpg' %}");
        } */

        /* #nav-logo{
            width: 80px;
            height: auto;
            margin-right: 20px;
            
        }
        #logo-container a {
            color: white !important;
            font-size: x-large;
        } */
        

    </style>
    {% block styles %}{% endblock %}

    

</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="margin:0px !important; border-bottom:0px !important">

            <div class="container-fluid">
                <div id="logo-container">
                    <a href="{% url 'marketing:home' %}">
                        <img id="nav-logo" src="{% static 'lafg_site/Images/Logo_People.png' %}" alt="logo">
                        US Focus Groups
                        <!-- <span style="clear: both;"></span> -->
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul id="my-top-nav" class="navbar-nav flex-grow-1 navbar-right justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'marketing:home' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'marketing:focus_groups' %}">Focus Groups</a>
                                <a class="dropdown-item" href="{% url 'marketing:surveys' %}">Surveys</a>
                                <a class="dropdown-item" href="{% url 'marketing:demonstratives' %}">Demonstrative Exhibits</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'marketing:contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'marketing:faqs' %}">FAQs</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <br />

    <div class="container pb-3">
        <div class="row justify-content-between">
            <div class="col-md-9">
                <main>
                    {% block content %}{% endblock %}
                </main>      
            </div>

            <br /><br />

        </div>
    </div>


    <footer class="border-top footer">
        <div class="container">
            &copy; 2021 - USFG
        </div>
    </footer>


    <script src="{% static "lafg_site/js/jquery/jquery.min.js" %}"></script>  {#must come before the below script#}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "lafg_site/js/bootstrap/bootstrap.bundle.min.js" %}"></script>

    {% block scripts %}{% endblock %} 


</body>
</html>
