    {% extends "marketing/base.html" %}
    {% load static %}

    {% block title %}Demonstratives{% endblock %}

    {% block content %}

    <br /> 
    <div class="container">
        <h1>Demonstrative Exhibits</h1>
        <i>Demonstrative aids allow a jury to visualize evidence and testimony in a way that is more comprehensible than the evidence or testimony standing alone.</i>
    
        <br><br><br>

        <h2 class="heading">Where can demonstratives fit into my case?</h2>
        <p>A well-planned and coordinated set of demonstrative aids can link your client's story from beginning to end. The planning process begins before discovery and depositions. Introducing demonstratives through witnesses, both your witnesses and adverse witnesses, helps to establish their authenticity, accuracy, and utility in advance of trial, which can eliminate grounds for objection to their use at trial.</p>
        
        <br><br>
        <h2 class="heading">What is the purpose of using demonstrative exhibits?</h2>
        <p>Focus groups consistently tell us when there's a need for illustration or visual representation to support testimony of witnesses and to create the story. Jurors want to visualize the mechanics and physics of a car crash or injury-producing activity. Timelines of events add clarity to witness testimony about a series of events or medical treatment.</p>
        <p>Graphic aids can ensure that a complicated or potentially confusing sequence of events is expressed more clearly in graphics. </p>
        <h4 class="heading">Board Examples:</h4>
        <ul class="list-group">
            <li class="list-group-item">Divergent timelines 
                <ul>
                    <li>What are the steps that were needed to be taken by the defendants to prevent injuries.</li>
                </ul>
            </li>
                
            <li class="list-group-item">Formula boards
                <ul>
                    <li>Jurors accept multi-step processes more readily when they're presented as a formula:
                        <ul>
                            <li>Pre-existing condition + Sudden jolt = Aggravation of a pre-existing condition.</li>
                        </ul>
                    </li>
                    <li>Presenting the elements of the formula on three separate boards presented sequentially in opening helps to frame the facts of your case</li>
                </ul>
            </li>
            <li class="list-group-item">Medical timelines, past and future
                <ul>
                    <li>Evidence of the type and timing of your client's medical treatment coming from numerous witnesses can be difficult to present and confusing to the jury.</li>
                    <li>Timelines of both past and future medical treatment created in coordination with medical witnesses and experts is one of the most impactful demonstrative aids that you'll bring to trial.</li>
                    <li>Focus groups almost always ask for a timeline when presented with medical treatment facts.</li>
                </ul>
            </li>
            <li class="list-group-item">Illustrations of injuries and treatment
                <ul>
                    <li>Oral testimony, alone, is rarely effective in allowing the jury to visualize the damage done to your client's body and the methods used by the doctors to treat the injuries.</li>
                </ul>
            </li>
        </ul>





        <br><br>
        <h2 class="heading">What is our process for creating demonstratives?</h2>
        <p>We begin by reviewing with you sample demonstratives that we've created in other cases. Then we gather the content that we'll need to begin to tell your story through these demonstrative aids. If you choose to employ focus groups as part of your story-crafting process, we'll let the focus groups tell us which parts of your story need to be illustrated and how we can make the demonstratives as effective as possible.</p>


        <br><br>
        <h2 class="heading">Gallery</h2>
        <div>
            <iframe src="https://onedrive.live.com/embed?cid=0262C379D83082FB&resid=262C379D83082FB%21265397&authkey=ALg4gylDOsEDBL4&em=2" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
        </div>





    </div>

    <br>

    {% endblock %}