    {% extends "marketing/base.html" %}
    {% load static %}

    {% block title %}Focus Groups{% endblock %}
    {% block nav-fg %}my-underline{% endblock %}

    {% block content %}

    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                
                <h1 class="heading">Focus Groups</h1>
                <i>Why wait until walking into the court room to hear juror feedback.</i>
                <br><br><br>
                <h2 class="heading">What is a focus group?</h2>
                <p>A focus group is an informal moderated discussion among a select group of people to obtain their perceptions and expectations of issues in your case.</p>
                <p>Our focus groups typically consist of 8 to 12 people recruited from within the jurisdiction where the case will go to trial. The group convenes at
                     a neutral site, usually a centrally-located hotel meeting room, and works on the case for three to four hours. Audio and video recordings are captured,
                      and all proceeds are transcribed.
                </p>

                <h2 class="heading">Purpose Of Focus Groups</h2>
                <p>A common misconception among lawyers is that focus groups are used only for "mock trials" that take place just before trial commences.
                     While that is one purpose that focus groups can serve, there are many others many other benefits that can be obtained from using
                      focus groups at any or every step of the case development process.
                </p>
                <p>Generally, the purpose of focus groups is to gather feedback that can be interpreted and applied to the process of crafting
                     the story of your case.  Having access to the group also allows lawyers to test their plans for other aspects of trial,
                      including jury selection, witness presentation, and undermining the defenses, to name a few.
                </p>
                <div>
                    <p> Focus Groups can yield benefits in a variety of areas:</p>
                    <ul>
                        <li>Case selection</li>
                        <li>Identifying landmines</li>
                        <li>Developing a case theme</li>
                        <li>Perfecting voir dire questions</li>
                        <li>Testing demonstrative evidence</li>
                        <li>Developing persuasive arguments</li>
                        <li>Determining the effectiveness of a witness or other evidence</li>
                        <li>Analyzing damages</li>
                        <li>Give you answers to questions you didn't know you had. Serendipity.</li>
                        <li>Practice your craft</li>
                        <ul>
                            <li>You take the reins</li>
                            <li>A lawyer is a craftsman. He needs to practice his craft if he is to improve.</li>
                        </ul>                        
                        <li>Client conversations</li>
                            <ul>
                                <li>Examining the results of a focus group with your client can facilitate your discussions and help them to understand the possible results of a trial.</li>
                            </ul>
                    </ul>
                </div>

                <h2 class="heading">Types of Focus Groups</h2>
                <p>There are a variety of different focus group types. The kind that is right for you depends on where you are in your case development and what questions you are looking to answer with the focus group. We will work with you to figure out which of the following best suits your needs.  Keep in mind that most of these can be accomplished in the space of an hour, so that we can combine several cases in one focus group session. This allows us to split the cost among the several cases.</p>
                
            
            
            </div>
        </div>
    </div>
    {% endblock %}