    {% extends "marketing/base.html" %}
    {% load static %}

    {% block title %}Focus Groups{% endblock %}
    {% block nav-fg %}my-underline{% endblock %}
    {% block styles %}
    <style>
        #fg_types {
            font-size: x-large;
        }

        #fg_types h3 {
            font-weight: bold;
            margin-bottom: 20px;
        }
    </style>
    {% endblock %}

    {% block content %}

    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                
                <h1 class="heading">Focus Groups</h1>
                <i>Why wait until walking into the court room to hear juror feedback.</i>
                <br><br><br>
                <h2 class="heading">What is a focus group?</h2>
                <p>A focus group is an informal moderated discussion among a select group of people to obtain their perceptions and expectations of issues in your case.</p>
                <p>Our focus groups typically consist of 8 to 12 people recruited from within the jurisdiction where the case will go to trial. The group convenes at
                     a neutral site, usually a centrally-located hotel meeting room, and works on the case for three to four hours. Audio and video recordings are captured,
                      and all proceeds are transcribed.
                </p>

                <br>
                
                <h2 class="heading">Purpose Of Focus Groups</h2>
                <p>A common misconception among lawyers is that focus groups are used only for "mock trials" that take place just before trial commences.
                     While that is one purpose that focus groups can serve, there are many others many other benefits that can be obtained from using
                      focus groups at any or every step of the case development process.
                </p>
                <p>Generally, the purpose of focus groups is to gather feedback that can be interpreted and applied to the process of crafting
                     the story of your case.  Having access to the group also allows lawyers to test their plans for other aspects of trial,
                      including jury selection, witness presentation, and undermining the defenses, to name a few.
                </p>
                <div>
                    <p> Focus Groups can yield benefits in a variety of areas:</p>
                    <ul>
                        <li>Case selection</li>
                        <li>Identifying landmines</li>
                        <li>Developing a case theme</li>
                        <li>Perfecting voir dire questions</li>
                        <li>Testing demonstrative evidence</li>
                        <li>Developing persuasive arguments</li>
                        <li>Determining the effectiveness of a witness or other evidence</li>
                        <li>Analyzing damages</li>
                        <li>Give you answers to questions you didn't know you had. Serendipity.</li>
                        <li>Practice your craft</li>
                        <ul>
                            <li>You take the reins</li>
                            <li>A lawyer is a craftsman. He needs to practice his craft if he is to improve.</li>
                        </ul>                        
                        <li>Client conversations</li>
                            <ul>
                                <li>Examining the results of a focus group with your client can facilitate your discussions and help them to understand the possible results of a trial.</li>
                            </ul>
                    </ul>
                </div>
                <br><br>
                <h2 class="heading">Types of Focus Groups</h2>
                <p>There are a variety of different focus group types. The kind that is right for you depends on where you are in your case development and what questions you are looking to answer with the focus group. We will work with you to figure out which of the following best suits your needs.  Keep in mind that most of these can be accomplished in the space of an hour, so that we can combine several cases in one focus group session. This allows us to split the cost among the several cases.</p>
                
                <br>
                <div class="row">
                    <div class="col-4">
                      <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active"  id="list-Case-selection-list"data-toggle="list" href="#list-Case-selection" role="tab" aria-controls="Case-selection">Case selection</a>
                        <a class="list-group-item list-group-item-action"  id="list-Narrative-list"data-toggle="list" href="#list-Narrative" role="tab" aria-controls="Narrative">Narrative</a>
                        <a class="list-group-item list-group-item-action"  id="list-Adversarial-Trial-Simulation-list"data-toggle="list" href="#list-Adversarial-Trial-Simulation" role="tab" aria-controls="Adversarial-Trial-Simulation">Adversarial/Trial Simulation</a>
                        <a class="list-group-item list-group-item-action"  id="list-Voir-Dire-Practice-list"data-toggle="list" href="#list-Voir-Dire-Practice" role="tab" aria-controls="Voir-Dire-Practice">Voir Dire Practice</a>
                        <a class="list-group-item list-group-item-action"  id="list-Rule-building-list"data-toggle="list" href="#list-Rule-building" role="tab" aria-controls="Rule-building">Rule building</a>
                        <a class="list-group-item list-group-item-action"  id="list-Chronology-list"data-toggle="list" href="#list-Chronology" role="tab" aria-controls="Chronology">Chronology</a>
                        <a class="list-group-item list-group-item-action"  id="list-Opening-statements-list"data-toggle="list" href="#list-Opening-statements" role="tab" aria-controls="Opening-statements">Opening statements</a>
                        <a class="list-group-item list-group-item-action"  id="list-General-Impressions-list"data-toggle="list" href="#list-General-Impressions" role="tab" aria-controls="General-Impressions">General Impressions</a>
                    </div>
                    </div>
                    <div class="col-8" id="fg_types">
                        <div class="tab-content" id="nav-tabContent">
                                                        
                            <div class="tab-pane fade show active" id="list-Case-selection" role="tabpanel" aria-labelledby="list-Case-selection-list">
                                <h3>Case selection</h3>
                                Run the facts of a potential case by a focus group to help decide whether it is a case to which you want to commit your time and resources. 
                            </div>
                            <div class="tab-pane fade" id="list-Narrative" role="tabpanel" aria-labelledby="list-Narrative-list">
                                <h3>Narrative</h3>
                                We present a neutral narrative of the facts of your case to a focus group as a first step toward crafting the story of your case. The focus group helps you to see the forest, instead of being hyper-focused on the trees.
                            </div>
                            <div class="tab-pane fade" id="list-Adversarial-Trial-Simulation" role="tabpanel" aria-labelledby="list-Adversarial-Trial-Simulation-list">
                                <h3>Adversarial/Trial Simulation</h3>
                                Here, we move away from neutrality and introduce adversarial advocacy. This can be done by presentation of "clopenings (combination of opening and closing) for each party followed by jury deliberations. Alternatively, we can stage a full-blown mock trial.
                            </div>
                            <div class="tab-pane fade" id="list-Voir-Dire-Practice" role="tabpanel" aria-labelledby="list-Voir-Dire-Practice-list">
                                <h3>Voir Dire Practice</h3>
                                You can test out potential areas of inquiry and get "on your feet" practice in conducting voir dire with our live focus groups.
                            </div>
                            <div class="tab-pane fade" id="list-Rule-building" role="tabpanel" aria-labelledby="list-Rule-building-list">
                                <h3>Rule building</h3>
                                You can use the focus group to develop a set of 
                            </div>
                            <div class="tab-pane fade" id="list-Chronology" role="tabpanel" aria-labelledby="list-Chronology-list">
                                <h3>Chronology</h3>
                                Get you a timeline
                            </div>
                            <div class="tab-pane fade" id="list-Opening-statements" role="tabpanel" aria-labelledby="list-Opening-statements-list">
                                <h3>Opening statements</h3>
                                You go before the focus group, present your opening statement for critique and feedback.
                            </div>
                            <div class="tab-pane fade" id="list-General-Impressions" role="tabpanel" aria-labelledby="list-General-Impressions-list">
                                <h3>General Impressions</h3>
                                Witnesses,Defense,Incident,Experts,Photos,Videos,Exhibits,Attorneys
                            </div>
                        </div>
                    </div>
                  </div>


                  <br><br>

                  <h2 class="heading">Our Process</h2>
                  <p>How does the process work? You just let us know the desired structure for the focus group you would like to conduct, and we will work with you to ensure all of your needs are met.</p>
                  <p>The following are some of the key considerations you will need to think about:</p>
                  <ul class="">
                      <li class="">Timing: what date will you need to have the focus group done by?</li>
                      <li class="">Participants: how many participants will you need for this group?</li>
                      <li class="">Location: do you need the participants to be pulled from a specific area?</li>
                      <li class="">Platform: do you want the focus group to be conducted in-person or over Zoom?</li>
                      <li class="">
                          <p>Moderator: will you be moderating the focus group yourself or will you use one of our moderators?</p>
                          <p>Some reasons you should consider using one of our moderators:</p>
                          <ul class="">
                              <li class="">Moderating focus groups is not the same as lawyering</li>
                              <li class="">Unbiased</li>
                              <li class="">Experienced at pulling information and extracting input from all participants</li>
                              <li class="">Knows how to handle dominant or unruly participants.</li>
                              <li class="">Keep discussion moving</li>
                              <li class="">Interpretation of feedback is a valuable part of the process</li>
                          </ul>
                      </li>
                      <li class="">Presentation: do you have a presentation ready, or will you need our assistance in compiling the facts into a focus group ready presentation?</li>
                  </ul>
                  <p>If you are not sure about any of the above, give us a call and we can help walk you through the pros and cons of each parameter.</p>


                  <br><br>

                  <h2 class="heading">Pricing</h2>
                  <p> The cost of a focus group can vary depending on your choices you make to the above factors. Total cost for the focus group typically ranges from $1,500-$3,500 with the average focus group landing at $1,700.</p>

                  <br><br>
            </div>
        </div>
    </div>
    {% endblock %}