<ul class="list-group">
    <li class="list-group-item">Timing: what date will you need to have the focus group done by?</li>
    <li class="list-group-item">Participants: how many participants will you need for this group?</li>
    <li class="list-group-item">Location: do you need the participants to be pulled from a specific area?</li>
    <li class="list-group-item">Platform: do you want the focus group to be conducted in-person or over Zoom?</li>
    <li class="list-group-item">
        <p>Moderator: will you be moderating the focus group yourself or will you use one of our moderators?</p>
        <p>Some reasons you should consider using one of our moderators:</p>
        <ul class="list-group">
            <li class="list-group-item">Moderating focus groups is not the same as lawyering</li>
            <li class="list-group-item">Unbiased</li>
            <li class="list-group-item">Experienced at pulling information and extracting input from all participants</li>
            <li class="list-group-item">Knows how to handle dominant or unruly participants.</li>
            <li class="list-group-item">Keep discussion moving</li>
            <li class="list-group-item">Interpretation of feedback is a valuable part of the process</li>
        </ul>
    </li>
    <li class="list-group-item">Presentation: do you have a presentation ready, or will you need our assistance in compiling the facts into a focus group ready presentation?</li>
</ul>