{% extends "marketing/base.html" %}
{% load static %}

{% block styles %}
 <style>
     .heading {
         color: blue;
     }

 </style>
{% endblock %}

{% block title %}Home{% endblock %}
{% block page_title %}ABOUT US{% endblock %}



{% block content %}

    <div class="mainArea">
        hahahah
        
    <!-- 
            <div class="card-deck">
                {% for state, places in states_dict.items %}
                    <div class="card bg-primary">
                        <div class=""><h4>{{ state }}</h4>
                            <div class="card-body">
                                <ul>
                                    {% for place in places %}
                                        <li>{{ place.city_value }}</li>   
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> -->

    </div>

{% endblock %}