{% extends "survey/base.html" %}
{% load static %}

{% block title %}Test Case{% endblock %}
{% block style_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'curvey/css/site.css' %}" />
{% endblock%}
{% block page_title %}Test Case{% endblock %}

{% block styles %}
    <style>
        h2, h3 {
            font-weight: bold;
        }

        img {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        ul li {
            margin: 5px;
        }
        /* h3 {
            text-align: center;
        } */

        h4 {
            /* font-weight: bold; */
            text-decoration: underline;
            text-align: center;
        }

        #number-label {
            display: inline-block;
            width: 500;
            color: red;
        }

        .question-head {
            text-align: center;
            color: blue;
        }

        .question-section {
            margin: 25px;
            padding: 25px;
            border-style: solid;
        }

        .sign-up-form ul {
            list-style-type:none !important;
        }

        .question-section ul {
            list-style-type: none;
        }

        .field-wrapper {
            margin-bottom:20px;
        }
    </style>
{% endblock %}


{% block content %}

<br>
<h2>Legal Case Study</h2>
<hr>
<br><br>
<h3 >Instructions</h3>
<br>
<div>
    <p>Thank you for particpating in this case study! First you will be presented with questions for gaining some basic info about you.
        Following these questions, you will begin the actual case study portion of the study. Here, you will be presented with facts from
        both sides of a case that is potentially going to trial. Interspersed througout the case will be questions pertaining to the information
        presented. I do not feel like putting a bunch more sample text here, but you get the idea.
    </p>
    <p>
        And here could be more instructions. Instructions are just the best. They really give you a feel for the task at hand and help you to
        perform to the utmost of your talents as an individual.
    </p>
</div>
<br><br>
<hr>
<h3>Basic Info</h3>
<div>
    {% include "survey/basic_info.html" %}
</div>

<hr>
<br>

<h3>Case Facts</h3>
<br>

<ul>
    <li>American Industrial Minerals, LLC, or “AIM,” manufactures and distributes sandblasting sand out of its Orange, TX facility.</li>
    <li>AIM owns three tractor-trailers like the one in the photo below:</li>
</ul>
<div><img class="img-fluid" width="700" height="350" src= "{% static 'survey/Images/surveys/1.jpg' %}"></div>
<ul>
    <li>In January 2017, AIM employed two experienced truck drivers and needed a third.</li>
    <li>On January 20, 2017, AIM hired Matthew Jones, 23 years old, as a third truck driver.</li>
    <li>Matthew Jones had been a licensed truck driver since July 2015 and drove for five trucking companies before coming to AIM.</li>
    <li>At 5:00 a.m. on March 30, 2017, Matthew Jones leaves AIM in Orange, TX with a load of industrial minerals, headed to Covington, LA.</li>
    <li>Matthew Jones reaches Baton Rouge, LA just before 8:00 a.m.</li>
    <li>Matthew Jones is traveling in the left inside lane of eastbound I-12, approaching the O’Neal Lane exit.</li>
</ul>
<div><img class="img-fluid" width="700" height="350" src= "{% static 'survey/Images/surveys/2.png' %}"></div>
<ul>
    <li>Jones decides to change from left outside lane to the middle lane of I-12.</li>
    <li>As Jones moves to his right into the center lane, he hits the left rear corner of a car driven by Lana Beyt, 28 years old at the time.</li>
    <li>Lana Beyt and Frances Landry were carpooling to esthetician school in Hammond, LA.</li>
    <li>Ms. Beyt’s car started to turn counter-clockwise, crossed the path of the 18-wheeler, struck the center concrete barrier, and then careened back across the three lanes of traffic and off the shoulder of the highway. The resting place for Ms. Beyt’s car is below:</li>
</ul>
<div><img class="img-fluid" width="700" height="350" src= "{% static 'survey/Images/surveys/3.jpg' %}"></div>
<ul>
    <li>Matthew Jones told officers that he did not see Ms. Beyt’s car because she was in the blindspot along the passenger side of his truck.</li>
</ul>

<hr>
<br>
<h3>Questions</h3>
<br>
<div>

    <div>
        <div>Who is at fault for the collision between the AIM truck and the Beyt vehicle? (Mark each that you believe are at fault):</div>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              American Industrial Materials, LLC
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Matthew Jones
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Lana Beyt
            </label>
          </div>
        </div>
    </div>
    <br><br>
    <div>
        <p>If you said yes to more than one, assign a percentage of fault to each person you believe is at fault:</p>
        <!-- <br> -->
        <ul>
            <li>
                <label id="number-label">American Industrial Materials, LLC: </label><input type="number"> %
            </li>
            <li>
                <label id="number-label">Matthew Jones:</label><input type="number"> %
            </li>
            <li>
                <label id="number-label">Lana Beyt:</label><input type="number"> %
            </li>
    </div>
    <br>

    <div>
        <label id="number-label">If you assigned fault to American Industrial Minerals, what do you believe they did wrong?</label>
        <textarea class="form-control"></textarea>
    </div>
    <div>
        <label id="number-label">If you assigned fault to Matthew Jones, what do you believe they did wrong?</label>
        <textarea class="form-control"></textarea>
    </div>
    <div>
        <label id="number-label">If you assigned fault to Lana Beyt, what do you believe they did wrong?</label>
        <textarea class="form-control"></textarea>
    </div>
</div>



<br>
<!-- <button class="btn btn-primary btn-lg" type="submit" form="sign_up" value="Submit">Submit</button>  -->


{% endblock %}