{% extends "survey/base.html" %}
{% load static %}

{% block title %}Test Case{% endblock %}
{% block page_title %}Test Case{% endblock %}

{% block content %}

<h1>Let's fucking go.</h1>

<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TjWZYJXUH-8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br>
<br>

<h2>Section 2</h2>
<div>
    <img src= "{% static 'lafg_site/Images/skyline.jpg' %}"/>
</div>

{% endblock %}