header {
    background-color: rgb(0, 71, 137);
}

.nav-link {
    color: white !important; /*What would be a better color?*/
}

nav {
    margin: 0px;
}


/*Make text smaller on smaller screens.*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(0, 71, 137);
    color: white !important;
}



.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}



body {
    font-family: Arial, Helvetica, sans-serif;
}



#skyLine {
    width: 100%;
    height: 220px;
/*    clear: both;
    margin-top: 145px;*/
}

#TopHeader {
    background-color: rgb(0, 71, 137);
    color: white;
    height: 40px;
    margin: 0;
    padding: 5px;
}

/*#HeaderMinusSkyline {
    position: fixed;
    top: 0;
    width: 100%;
}*/


#LogoAndNav {
    background-color: white;
    height: 80px;
}


/*#ContentAndRightNav {
    margin-bottom: 42px;
}*/

#Logo {
    float: left;
    margin-right: 125px;
    margin-left: 100px;
}


/*#RightNav li {
    margin-bottom: 10px;
}

#RightNav ul {
    list-style-type: none;
}

#RighNav h5 {
    font-weight: bold;
}*/



#MainArea {
    width: 1000px;
    float: left;
    margin-right: 75px;
    margin-bottom: 70px;
    margin-left: 50px;
    border: .7px solid gray;
    min-height: 800px;
}

#CourtRoom {
    width: 75%;
}


/*
li:hover {
    background-color: deeppink;
}*/


