
/* Header stuff */

header {
    /* background-color: rgb(0, 71, 137); */
    background-color: darkblue;
}

.nav-link {
    color: white !important; /*What would be a better color?*/
}

#my-top-nav li{
    margin-right: 20px;
    font-size: 20px;
}

#my-top-nav a:hover{
    color: black !important;
}

#nav-logo{
    width: 80px;
    height: auto;
    margin-right: 20px;
}

#logo-container a {
    color: white !important;
    font-size: x-large;
}

#logo-container a:hover {
    text-decoration: none;
}





/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-size: 15px !important;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: ga; */
    /* font-family: "Times New Roman", Times, serif; */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(0, 71, 137);
    color: white !important;
}



.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/*Make text smaller on smaller screens.*/

@media (min-width: 768px) {
    html {
        font-size: 17px !important;
    }
}


/* #Logo {
    float: left;
    margin-right: 125px;
    margin-left: 100px;
} */


/* #CourtRoom {
    width: 90%;
}


@media screen and (max-width: 1200px) {
    
    #CourtRoom {
        width: 100%;
    }
 
} */


.heading {
    font-weight: bold;
}
