
{% extends "lafg_site/base.html" %}
{% load static %}

{% block title %}Conduct{% endblock %}
{% block page_title %}CONDUCT A FOCUS GROUP{% endblock %}

{% block content %}
    
    <div>

        <p>We are able to provide any or all of the following services:</p>
        <ul>
            <li>recruitment and commitment of participants</li>
            <li>venue</li>
            <li>audio/video recording</li>
            <li>experienced focus group moderator</li>
            <!-- <li>analytics</li> -->
        </ul>
        <p>
            We have compiled a database containing thousands of people of various demographics
            and backgrounds which will allow us to provide a group of participants to match any composition desired.
        </p>
        <img src={% static 'lafg_site/Images/meetingRoom.jpg' %} />
    </div>
    <br /><br />
    <p>The law firms that we have worked with have benefitted from invaluable insight into how
         critical evidence in their case will be received by jurors.</p>
    <br /><br />
    <p>We welcome the opportunity to discuss our services with those in your firm who litigate cases.</p>

{% endblock %}



