    {% extends "lafg_site/base.html" %}
    {% load static %}

    {% block title %}Contact{% endblock %}

    {% block content %}


    <h3>CONTACT  US</h3>
    <br /> <br />
    <p>We are looking forward to hearing from you. Please feel free to contact us through phone or email using the information below
        and we will get back to you as soon as possible.</p>
    <br /><br />
    <div>
        <span>LA FocusGroups, LLC</span><br />
        <span>Phone: (225)-907-4265</span><br />
        <span>Email: lafocusgroupsllc@gmail.com</span>
    </div>

    {% endblock %}