    {% extends "lafg_site/base.html" %}
    {% load static %}

    {% block title %}FAQs{% endblock %}
    {% block nav-faqs %}my-underline{% endblock %}

    {% block styles %}
    <style>
        h2 {
            font-weight: bold ;
        }

        #accordion button {
            font-weight: bold;
        }


    </style>
    {% endblock %}

    {% block content %}
        <br><br>
      <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Frequently Asked Questions</h2>
                </div>
                <div class="col-md-6">
                    <p>Got a question? We're here to answer! If you don't see your questions here, you can reach out to us at
                        <a href="mailto:info@usfocusgroups.org">info@usfocusgroups.org</a>.
                    </p>
                </div>
            </div>

            <br>


            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Can I participate more than once?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Focus groups are commonly thought of as a final tool to use to battle test your case before going to trial. While this is certainly a valuable use of conducting a focus group, there are many other points in the life cycle of your case development that can benefit from focus group.
                    </div>
                  </div>
                </div>
                
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn  collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFour">
                      <h5 class="mb-0">
                        <button class="btn" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Can I participate more than once?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                          Focus groups are commonly thought of as a final tool to use to battle test your case before going to trial. While this is certainly a valuable use of conducting a focus group, there are many other points in the life cycle of your case development that can benefit from focus group.
                      </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                        <button class="btn" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Can I participate more than once?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">
                          Focus groups are commonly thought of as a final tool to use to battle test your case before going to trial. While this is certainly a valuable use of conducting a focus group, there are many other points in the life cycle of your case development that can benefit from focus group.
                      </div>
                    </div>
                  </div>
              </div>
              <br><br>
          </div>
            



    {% endblock %}