{% extends "lafg_site/base.html" %}
{% load static %}

{% block styles %}
 <style>
     .heading {
         color: blue;
     }

 </style>
{% endblock %}

{% block title %}Home{% endblock %}
{% block page_title %}ABOUT US{% endblock %}



{% block content %}

    <div class="mainArea">

        <div>
            <h3 class="heading">What do we do?</h3>
            <p>US Focus Groups primarily services law firms that are interested in hearing feedback about their cases before they go to trial. This feedback is often elicited from participants with the use of focus groups. For the typical focus group, a moderator will present the facts and evidence of a case as it will be presented in trial and prompt discussion from the group regarding their opinions on the case. </p>
        </div>
        <br>
        <div>
            <img id="CourtRoom" src= "{% static 'lafg_site/Images/courtRoom.jpg' %}" alt="Court Room "/>
        </div>
        <br /><br />
        
        <div>
            <h3 class="heading">Focus Group Info</h3>
            <p>Focus groups are conducted both through Zoom and in-person. The average focus group will
                 last for three hours and participants will receive compensation of $100 for participating.</p>

            <p>If you are interested in participating in a focus group, please navigate
                 to our <a style="color:blue" href="{% url 'lafg_site:sign_up' %}">sign-up page</a>
                  and complete the form. If you are selected for an upcoming focus group, we will reach out
                  to check your availability and send additional information regarding the specifics
                  of the focus group.
            </p>
            <br>
            <div class="text-center">
                <a href="{% url 'lafg_site:sign_up' %}">
                    <button type="button" class="btn btn-info">Sign-Up Here!</button>
                </a>
            </div>
            <br>
            <hr>
            <h3>Upcoming Focus Groups</h3>
            <p>The below locations are cities where we will be hosting focus groups in the near future. If you
                currently reside in one of the below cities, please sign-up! If you do not live in one of the below
                cities, we still encourage you to sign up, but keep in mind, it may be a few weeks before you are contacted
                to participate in a focus group.
            </p>
<!-- 
            <div class="card-deck">
                {% for state, places in states_dict.items %}
                    <div class="card bg-primary">
                        <div class=""><h4>{{ state }}</h4>
                            <div class="card-body">
                                <ul>
                                    {% for place in places %}
                                        <li>{{ place.city_value }}</li>   
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> -->
            <div class="row">
                {% for state, places in states_dict.items %}
                    <div class="col-md-4"><h4>{{ state }}</h4>
                        <ul>
                            {% for place in places %}
                                <li>{{ place.city_value }}</li>   
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <hr>
        </div>
    </div>

{% endblock %}