
{% extends "lafg_site/base.html" %}
{% load static %}

<style>


</style>

{% block title %}Services{% endblock %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2 class="heading">Interested In Conducting A Focus Group?</h2><br>
            <p>The law firms that we have worked with have benefitted from invaluable insight into how critical
                evidence in their case will be received by jurors. We welcome the opportunity to discuss how
                our services can fit into your case development. For additional information please
                email <a href="mailto:bgreen@usfocusgroups.org">bgreen@usfocusgroups.org</a>.
            </p>
        </div>
    </div>
</div>
        

{% endblock %}

