{% extends "lafg_site/base.html" %}
{% load static %}

{% block title %}Sign-Up{% endblock %}
{% block styles %}
    <style>
        .sign-up-form ul {
            list-style-type:none;
        }

        .field-wrapper {
            margin-bottom:20px;
        }


    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <br>
                <h2 class="heading">Focus Group Sign Up</h2><br>
                <p>Thank you for your interest in participating in a focus group! Please complete the below form
                    and we will contact you with additional details once a focus group in your area has been scheduled!
                    If you have any questions or issues filling out the form, please email
                    <a href="mailto:info@usfocusgroups.org">info@usfocusgroups.org</a> and we will get back to you
                    as soon as possible.
                </p>
                <hr>
                <br>
                <div>
                    
                    <div>
                        <form class="sign-up-form" method="post" id="sign_up" autocomplete="on">
                            {% csrf_token %}

                            {{ form.non_field_errors }}

                            {% for field in form %}

                                <div id="{{ field.name }}" class="field-wrapper">

                                    {% if field.errors %}
                                        <div class="alert alert-warning" role="alert">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                    <span>{{ field.label_tag }}</span>
                                    <br />
                                    <span >{{ field }}</span>

                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}

                                </div>
                            {% endfor %}

                            <button class="btn btn-primary btn-lg" type="submit" form="sign_up" value="Submit">Submit</button>
                        </form>

                    </div>
                </div>

                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // Only show occupation field if someone is working.
        function showHideOccupation() {
            var occupation =  document.getElementById("occupation");
            var working = document.querySelector('input[name="working"]:checked');

            if (working.value == "Yes"){
                occupation.className = "field-wrapper";
            }
            else {
                occupation.className = "field-wrapper d-none";
            }

        }

        function showHideSourceOther() {
            var sourceOther =  document.getElementById("sourceOther");
            var source = document.querySelector('input[name="source"]:checked');

            if (source.value == "Other"){
                sourceOther.className = "field-wrapper";
            }
            else {
                sourceOther.className = "field-wrapper d-none";
            }

        }

                // Hide occupation field by default.
        function hideOccupation() {
            document.getElementById("occupation").className = "field-wrapper d-none";
        }

        function hideSourceOther() {
            document.getElementById("sourceOther").className = "field-wrapper d-none";
        }

        function hideFields() {
            hideOccupation()
            hideSourceOther()
            
        }

        // When the page loads. Hide the two fields unless they are triggered by clicking on the
        // appropriate radio buttons. 
        window.onload=hideFields


    </script>
{% endblock %}
