{% extends "lafg_site/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block styles %}
    <style>
        .sign-up-form ul {
            list-style-type:none !important;
        }

        .field-wrapper {
            margin-bottom:20px;
        }


    </style>
{% endblock %}

{% block page_title %}SIGN-UP FORM{% endblock %}

{% block content %}

    <div>
        <div>
            <form class="sign-up-form" method="post" id="sign_up" autocomplete="on">
                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}

                    <div id="{{ field.name }}" class="field-wrapper">

                        {% if field.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        <span>{{ field.label_tag }}</span>
                        <br />
                        <span >{{ field }}</span>

                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}

                    </div>
                    {#<br />#}
                {% endfor %}

                <button class="btn btn-primary btn-lg" type="submit" form="sign_up" value="Submit">Submit</button>
            </form>

        </div>
    </div>

    <hr>
    <br><br>

{% endblock %}

{% block scripts %}
    <script>
        // Only show occupation field if someone is working.
        function showHideOccupation() {
            var occupation =  document.getElementById("occupation");
            var working = document.querySelector('input[name="working"]:checked');

            if (working.value == "Yes"){
                occupation.className = "field-wrapper";
            }
            else {
                occupation.className = "field-wrapper d-none";
            }

        }

        function showHideSourceOther() {
            var sourceOther =  document.getElementById("sourceOther");
            var source = document.querySelector('input[name="source"]:checked');

            if (source.value == "Other"){
                sourceOther.className = "field-wrapper";
            }
            else {
                sourceOther.className = "field-wrapper d-none";
            }

        }

                // Hide occupation field by default.
        function hideOccupation() {
            document.getElementById("occupation").className = "field-wrapper d-none";
        }

        function hideSourceOther() {
            document.getElementById("sourceOther").className = "field-wrapper d-none";
        }

        function hideFields() {
            hideOccupation()
            hideSourceOther()
            
        }

        // When the page loads. Hide the two fields unless they are triggered by clicking on the
        // appropriate radio buttons. 
        window.onload=hideFields


    </script>
{% endblock %}
